<%= render 'admin_masthead' %>

  <div class="row">
    <div class="span12">
      <div class="alert alert-success">
        <h1 class="alert-heading">Teachers</h1>
        <%= link_to 'Go! ', show_teachers_path %>
        <br><br><br><br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
    <div class="alert alert-block">
        <h1 class="alert-heading">Classrooms</h1>
        <%= link_to 'Go! ', classrooms_path %>
        <br><br><br><br>
      </div>
    </div>
  </div>

  <div class="row"> 
    <div class="span12">
      <div class="alert alert-error">
        <h1 class="alert-heading">Students</h1>
        <%= link_to 'Go! ', show_students_path %>
        <br><br><br><br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="alert alert-info">
        <h1 class="alert-heading">Parents</h1>
        <%= link_to 'Go! ', show_parents_path %>
        <br><br><br><br>
      </div>
    </div>
  </div>

</div> <!-- /container -->
